.message {
    position: relative;
    display: flex;
    width: 100%;
    margin: 5px 0;
  }

  .messageImg{
    width: 32px;
    height: 32px;
    border-radius: 50;
    object-fit: cover;
    margin-right: 10px;
  }
  

  .messageBottom
  {
    font-size:12px;
    position: absolute;
    bottom: 0;
    right: 0;
    text-align: right;
    color: rgb(255, 253, 253);
   
   
  }
  
  
  .my-message {
    float: right; 
    /* align-self: flex-end; */
    justify-content: flex-end;
    background-color: #caa2dd ;

    border-radius: 10px;
    color: #333;
    margin: 10px;
    max-width: 60%;
    padding: 10px;
    
  }
  
  .friend-message {
    float: left; 
    /* align-self: flex-start; */
    justify-content: flex-start;
    background-color: #e5e5e5;
    border-radius: 10px;
    color: #333;
    margin: 10px;
    max-width: 60%;
    padding: 10px;
  } 