.card {
    padding: 1rem;
    border-radius: 20px;
    --smooth-corners: 4;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 10px;
    border: 1px solid rgba(255, 255, 255, 0.25);
    background-color: rgba(255, 255, 255, 0.30);
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    min-width: 400px;
}

.profilepicture {
    border-radius: 150px;
    width: 120px;
    height: 120px;
    object-fit: cover;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}

.h1{
    font-size: x-large;
    font-weight: 600;
    text-align: center;
    color: #ff4b96;
}

.subtitle {
    font-size: large;
    font-weight: 500;
    color: #902ce2;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.minicard {
    margin: 10px;
    border-radius: 16px;
    border-color: #53ab66;
    background-color: #b5ffc5;
    border: 1px solid #53ab66;
    flex-basis: 33%;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.minicard2 {
    margin: 10px;
    border-radius: 16px;
    border-color: #dd4f4f;
    background-color: #ffb6b9;
    border: 1px solid #dd4f4f;
    flex-basis: 33%;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.minicard3 {
    margin: 10px;
    border-radius: 16px;
    border-color: #b5b5b5;
    background-color: #ffffff;
    border: 1px solid #9d9d9d;
    flex-basis: 33%;
    text-align: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
}

.row {
    display: flex;
    flex-direction: row;
    width: 100%;
}  

.stats{
    font-size: large;
    font-weight: 500;
    color: #1e1e1e;
    margin-left: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 10px;
}

.mainbox {
    margin: 10px;
    padding: 10px;
    
}

.errorMessage {
    size: 10px;
    color: red;
    margin-left: 10px;
    margin-bottom: 10px;
    padding: 0px 10px;
}


.subcard {
    margin: 10px;
    padding: 0px 10px;
}

.subcard2 {
    background-color: #ffffff;
    border-radius: 20px;
    padding-bottom: 20px;
}

.button { 
	display: block;
	width: 200px;
	border-radius: 0.5rem;
	background-image: linear-gradient(to right, #902ce2, #c383ff);
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
	font-size: 0.875rem;
	font-weight: 500;
	color: #fff;
}

.littlebutton { 
	display: block;
	width: 80px;
	border-radius: 0.5rem;
	background-image: linear-gradient(to right, #ff4b96, #ff83a8);
	padding-top: 0.15rem;
	padding-bottom: 0.25rem;
    margin-left: auto;
    margin-right: 0;
	font-size: 0.85rem;
	font-weight: 400;
	color: #fff;
}

.littlebutton:hover {
    background-image: linear-gradient(to right,#ff6fab, #ffa2c1);
    }

.littlebuttongreen { 
    display: block;
    width: 80px;
    border-radius: 0.5rem;
    background-image: linear-gradient(to right, #12a95b, #77dc8d);
    padding-top: 0.15rem;
    padding-bottom: 0.25rem;
    margin-left: auto;
    margin-right: 0;
    font-size: 0.85rem;
    font-weight: 400;
    color: #fff;
}

.littlebuttongreen:hover {
    background-image: linear-gradient(to right,#12a95b, #77dc8d);
    }

.button:hover {
background-image: linear-gradient(to right, #bd84ff, #e0bbff);
}

.buttonalert { 
	display: block;
	width: 200px;
	border-radius: 0.5rem;
	background-image: linear-gradient(to right, #ff4b96, #ff83a8);
	padding-left: 1.25rem;
	padding-right: 1.25rem;
	padding-top: 0.75rem;
	padding-bottom: 0.75rem;
    margin-left: auto;
    margin-right: auto;
	font-size: 0.875rem;
	font-weight: 500;
    margin-top: 1rem;
	color: #fff;
}

.editbutton { 
    display: block;
    width: 80px;
    border-radius: 0.5rem;
    background-color: #ffffff7e;
    border: solid 1px #000000;
    padding-top: 3px;
    padding-bottom: 3px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.85rem;
    font-weight: 400;
    color: #000000;
}

.editbutton:hover { 
    background-color: #ffffff;
}


.buttonalert:hover {
background-image: linear-gradient(to right, #ff6fab, #ffa2c1);
}

.inputbox {
    display: flex;
    padding: 0.75rem;
    color:#2e2e2e;
    border-radius: 0.5rem;
    background-color: #ffffff9e;
    border: solid 1px #f3f3f39e;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0.5rem;
}

.inputbox:active {
    padding: 0.75rem;
    color:#2e2e2e;
    border-radius: 0.5rem;
    background-color: #ffffff9e;
    border: solid 1px #6969699e;
}

.inputbox:hover {
    padding: 0.75rem;
    color:#2e2e2e;
    border-radius: 0.5rem;
    background-color: #ffffff9e;
    border: solid 1px #5050509e;
}

.inputbox:focus {
    outline: none !important;
    padding: 0.75rem;
    color:#2e2e2e;
    background-color: #ffffff9e;
    border:1px solid #5555559e;
    
}

.listelement {
    min-width: 14rem;
    padding: 0.75rem;
    display: flex;
    justify-content: center;
}

.container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    flex-wrap: wrap;
}

.qrcode {
    background: #000;
    margin: auto, auto;
    width: 250px;
}

.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal.show {
    display: block;
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 10% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  .fileInput {
    padding: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f7f7f7;
    color: #333;
    font-size: 14px;
    width: 95%;
  }

  .selectedImage {
    max-width: 300px;
    height: auto;
    display: block;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 10px;
  }